.places {
  display: flex;
  flex-wrap: wrap;
}

.places article {
  width: 390px;
  border: 1px solid #ff5a5f;
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
}

.places h1 {
  width: 100%;
  font-size: 30px;
}
.places h2 {
  font-size: 30px;
  text-align: center;
}
